:root {
  --color-primary: #353353;
  --color-secondary: #f9f9ff;
  --color-detail: #ffd15c;
  --color-detail2: #0F4C81;
  --color-detail3: #c7c7cc;
  --color-light: #ffffff;
  --color-dark: #000000;

  --radius: 15px;

  --bold: 700;
}

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background: var(--color-secondary);
}

.navbar {
    padding: 10px 10px;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
}

.navbar-side-collapse {
  visibility: hidden;
}

.wrapper {
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;
}

#sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: var(--color-primary);
    color: var(--color-light);
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px 20px 20px 0;
    background: var(--color-primary);
}

#sidebar a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#content {
    width: calc(100% - 250px);
    min-height: 100vh;
    position: absolute;
    padding: 0;
    margin: 0;
    top: 0;
    right: 0;
    transition: all 0.3s;
}

#content.active {
    width: 100%;
}

.hero {
  overflow: hidden;
  background-color: var(--color-primary);
  background-image: url("../img/hero-detail.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--color-light);
}

.home {
    height: 100vh;
    display: flex;
    align-items: center;
}

.home img {
  max-width: 200px;
  background-color: var(--color-detail);
}

.social-media a{
  text-decoration: none;
  color: var(--color-light);
  font-size: 1.5em;
  padding: 0.5em;
}

.scroll-down .btn {
  background-color: rgba(0, 0, 0, 0.1);
}

.scroll-down.btn:focus {
  outline: none;
  box-shadow: none;
}

.btn-scroll-down {
  margin-top: 60px;
  padding: 2px;
  border: 1px solid var(--color-light);
  border-radius: var(--radius);
  background-color: inherit;
}

.btn-scroll-down:before {
  display: block;
  position: relative;
  left:0;
  right: 0;

  content: "\e915";
  font-family: "Porfolio";
  font-size: 30px;
  color: var(--color-light);

  animation-name: scrollDown;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

#about, #experience, #tools, #works, #contact {
  padding: 60px 0;
}

.section-title {
  margin-bottom: 1.5em;
  position: relative;
  z-index: 1;
}

.section-title:before{
  position: relative;
  left: 20px;
  top: 5px;
  z-index: -1;
  content: "\e90b";
  font-family: "Porfolio";
  font-size: 50px;
  color: var(--color-detail3);
}

.card {
  border: none;
  border: 1px solid pink;
}

.row-about, .row-tools {
  display: flex;
  align-items: center;
  background-color: var(--color-light);
  border-radius: var(--radius);
}

.img-about {
  width: 100%;
}

.btn-linkedin {
  border-radius: 20px;
  color: var(--color-light);
  background-color: var(--color-detail);
  transition: 0.5s;
}

.btn-linkedin:hover {
  color: var(--color-light);
  transform: scale(1.1);
}


.experience-content {
  justify-content: space-between;
}

.studies, .experience-works {
  margin: 0;
  border-radius: var(--radius);
  background: var(--color-light);
}

.studies.col-lg-6, .experience-works.col-lg-6 {
  max-width: 48%;
}

ul.timeline {
    list-style-type: none;
    position: relative;
}

ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    z-index: 400;
}

ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    width: 20px;
    height: 20px;
    margin-top: 4px;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    left: 20px;
    z-index: 400;
    background: var(--color-light);
    border: 3px solid var(--color-detail);
}

.company {
  margin-bottom: 1em;
}

.company-work, .company-name, .company-date {
  margin: 0;
  padding: 0;
}

.company-work {
  font-weight: var(--bold);
}

.company-name, .company-date {
  color: grey;
  text-transform: uppercase;
}

.category {
  /* display: flex; */
  padding: 20px;
  margin: 10px 0 0 0;
  box-shadow: 5px 5px 1px 5px rgba(0,0,0,0.34);
} 
.category-title {
  margin: 10px 0 0 0;
  font-weight: var(--bold);
} 

.stars{
  font-size: 20px;
}

.stars-disabled{
  font-size: 20px;
  color: rgb(189, 189, 189);
}

.container-works{
  position: relative;
}

.row-works {
  display: grid;
  grid-template-columns: repeat(3, minmax(10em, 20em));
  justify-content: space-between;
  align-content: center;
  grid-gap: 1em;
  padding: 0;
}

.work-card {
  border-radius: var(--radius);
}

.work-card-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 80px;
  text-align: center;
  opacity: 0;
  color: var(--color-light);
  border-radius: var(--radius);
  background-color: rgba(97, 95, 133, 0.8);
  transition: 0.5s;
}

.work-card-overlay:hover {
  opacity: 1;
}

.work-card-overlay p {
  font-weight: var(--bold);
}

.link-github:hover, .link-web:hover {
  text-decoration: none;

}

.link-github:before, .link-web:before {
  font-size: 30px;
  color: var(--color-light);
  transition: 0.5s;
}

.link-github:before {
  content: "\e905";
  font-family: "Porfolio";
}

.link-web:before {
  content: "\e90a";
  font-family: "Porfolio";
}

.link-github:hover:before, .link-web:hover:before {
  color: var(--color-detail);
}

.row-contact {
  display: flex;
  align-items: center;
}

.image-contact {
  width: 100%;
}

.col-contact .row {
  justify-content: flex-end;
}

.col-contact .row .col-10{
  padding-right: 0;
}

.card-contact {
  margin-right: 0;
  padding-right: 0;
  border-radius: var(--radius);
  background: var(--color-detail);
}

.card-contact p {
  font-size: 40px;
}

.card-contact a{
  font-size: 18px;
  color: var(--color-dark);
}

.card-contact a:hover{
  text-decoration: none;
}

.container-up {
  padding: 30px 0 10px 0;
}

.btn-up:before {
  content: "\e918";
  font-family: "Porfolio";
  font-size: 40px;
  background: #c7c7cc;
  border-radius: 50%;
  color: var(--color-light);
  transition: 0.5s;
}

.btn-up:hover {
  text-decoration: none;
}

.btn-up:hover:before {
  background: var(--color-detail);
  color: var(--color-light);
}
